/** vuetify style*/
@import "~vuetify/src/stylus/main";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  color: #2c3e50;
}
html,
#app {
  font-family: "Lato", sans-serif;
}

ul {
  line-height: 1.5em;
  padding-left: 1.5em;
}

a {
  color: #7f8c8d;
  text-decoration: none;
}

a:hover {
  color: #4fc08d;
}
